/* Better dark theme inline code snippets */
code {
    background-color: #202020;
    color: #d0d0d0;
}

/* Better caption for liquid_tags.include_code */
figure[class="code"] figcaption span {
    font-weight: bold;
}

figure[class="code"] figcaption a {
    float: right;
    font-style: italic;
}
